/* RESETEAMOS TODOS LOS VALORES PREDETERMINADOS DEL HTML5*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}
/*FONDO PREDETERMIANDO*/
body{
    
}
/*COLORES PREDETERMINADOS QUE VAMOS A USAS*/
:root{
    --main-color-blueLigth: #3FA9F5;
    --main-color-blue: #0071BC;
    --main-color-blueDark:#0E4563;
    --main-color-white:#ffffff;
}
/*TEXTOS PREDETERMINADOS*/
.text-h3{
    color: var(--main-color-white);
    font-weight: bold;
    font-style: italic;
}
.bar-link{
    color: var(--main-color-white);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
i{
    margin-right: 1em;
}

.b-blue{
    background-color: var(--main-color-blueLigth);
    padding: 0.25em;
    color: var(--main-color-white);
    font-style: italic;
}
/* ---------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------------*/
/*BARRA DE NAVEGACION*/

.cont-bar{
    background-color: var(--main-color-blue);
    width: 100%;
    height: 4.688em;
    display: flex;  
    align-items: stretch;
    line-height: 4.688em;
    position: fixed;

    z-index: 1000;
  
}
.text-bar{
  width: 50%;  
  font-size: 1.625em;
}
.bar-logo{
    height: 3.125em;
    width: 15%;
    position: relative;
    top: 15px;  
    
}
.bar{
    width: 100%;
    display: flex;
    justify-content: end;
    line-height: 4.688em;
}
.bar-items{
    display: flex;
    
}
.bar-item{
   border-left: solid 4px;
   border-color: var(--main-color-white);
}
.bar-link{
    padding: 1em;
}


.bar-movil-logo{
    display: none;
}

.bar-btn{
    border: none;
    background: none;
    font-size: 2em;
    color: var(--main-color-white);
    display: none;
}



/* ---------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------------*/
/*BREAK POINT FULL HD 1200 / 1400*/
@media screen and (min-width: 75em) and (max-width: 120em) {
    .bar-link{
        padding-top: 0;
        font-size: 0.75em;
       }
    .bar-item:hover{
        background-color: #0E4563;
    }   
       .cont-redes{
           width: 100%;
           position: fixed;
           top: 4.688em;
           
       }
       .redes{
           width: 100%;
           display: flex;
          
            
       }
       .redes-items{
            width: 100%;
            
            display: flex;
            justify-content: end;
    
           
       }
       .redes-items .img-redes{
           height: 45px;
           margin: 0.55em;
       }
       /* ---------------------------------------------------------------------------------------------*/
       /*WELCOME*/
       .section-welcome{
           width: 100%;
           
       
        }
        .article-welcome{
            width: 80%;
            height: 100vh;
            padding: auto;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
        .article-welcome img{
            height: 250px;
            margin: 2em;
        }
        .article-welcome h2{
            line-height: 2em;
        }
        .section-resena{
            width: 100%;
        }
        .article-basic_100{
            width: 100%;
            height: 50vh;
            margin: auto;
            padding: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
    
            background-image:linear-gradient(rgba(0, 174, 255, 0.726), rgba(12, 139, 243, 0.87)), url(../Assets/Img/fondo2.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        .text-p{
            color: var(--main-color-white);
            font-weight: bold;
            line-height: 2em;
            padding: 1em;
        }
    
        /* ---------------------------------------------------------------------------------------------*/
        /* ---------------------------------------------------------------------------------------------*/
        /* CARDS SKILLS*/
        .section-skills{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .article-skills{
            width: 80%;
            display: flex;
            align-items: center;
           
            
        }
        .card{
            width: 100%;
            height:auto;
    
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
    
            
            border-radius: 1em;
            
            background-color: var(--main-color-white);
            -webkit-box-shadow: 5px 5px 15px 5px #000000; 
            box-shadow: 5px 5px 15px 5px #000000;
            
            margin: 1em;
            
           
        }
        
        .card h2{
            font-weight: bold;
            color: var(--main-color-blue);
            font-style: italic;
            padding-top: 0.55em;
           
        }
        .card p{
            font-weight: bold;
         
            padding: 1em;
            
        }
        .card-footer{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .card-footer img{
            height: 50px;
            margin: 0;
            padding: 1em;
        }
    
         /* ---------------------------------------------------------------------------------------------*/
        /* ---------------------------------------------------------------------------------------------*/
        /* PROYECTOS*/
        .section-proyect{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 2em;
        }
        .section-proyect .text-card-project{
            color: var(--main-color-blue);
            
        }
        .section-proyect p{
            font-weight: bold;
            
            padding: 1em;
        }
        .article-card-project{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
       .card-project{
        position: relative;
        width: 250px;
        height: 250px;
        display: flex;
        align-items: center;
    
       
    
       }
    
       .card-project .face{
           position: absolute;
           width: 100%;
           transition: 5s;
           backface-visibility: hidden;
           
           
           
       }    
    
       .card-project .front img{
        transform: perspective(800px) rotateY(0deg);
        width: 100%;
        object-fit: contain;
        }
    
    
    
       .card-project .front{
           transform: perspective(800px) rotateY(0deg);
           box-shadow: 0 5px 10px #000000;
           
       }
       
    
    
       .card-project .back{
            transform: perspective(800px) rotateY(180deg);
            background-color: rgba(0, 0, 0, 0.692);
            color: var(--main-color-white);
            font-size: 0.55em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 200px;
    
        }
        .card-project .back a{
            color: var(--main-color-blueLigth);
        }
    
            /* ---------------------------------------------------------------------------------------------*/
            /* EFECTOS CARDS PROJECTS*/
    
            
        .card-project:hover .front{
                transform: perspective(800px) rotateY(180deg);
                box-shadow: 0 5px 10px #000000;
            }
            .card-project:hover .back{
                transform: perspective(800px) rotateY(360deg);
              
                
            }
    
       
        /* ---------------------------------------------------------------------------------------------*/
        /* ---------------------------------------------------------------------------------------------*/
        /* MIS OBECTIVOS*/    
    
        .section-obj{
            width: 100%;
            background-image:linear-gradient(rgba(0, 132, 255, 0.726), rgba(5, 101, 180, 0.87)), url(../Assets/Img/logoBlack.svg);
            background-size: 100% 100%;
            background-color: #075ba5bb;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .article-obj{
            width: 80%;
            text-align: center;
            color: var(--main-color-white);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1em;
            
        }
        .article-obj p{
           
            font-weight: bold;
            line-height: 2em;
        }
    
         /* ---------------------------------------------------------------------------------------------*/
        /* ---------------------------------------------------------------------------------------------*/
        /* MIS OBECTIVOS*/ 
        .section-otros{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1em;
        } 
    
        .article-otro{
            width: 100%;
            text-align: center;
            padding: 1em;
            
        }
        .article-otro h2{
            color: var(--main-color-blue);
            padding: 1em;
        }
        .article-otro p{
            font-weight: bold;
           
        }
        .article-otro h3{
            text-align: center;
           
            padding: 2em;
        }
        .article-otro a{
            background-color: var(--main-color-blue);
            color: var(--main-color-white);
            font-size: 2em;
            font-weight: bold;
            padding: 0.15em;
            border-radius: 1em;
        }
    
          /* ---------------------------------------------------------------------------------------------*/
        /* ---------------------------------------------------------------------------------------------*/
        /* MIS OBECTIVOS*/ 
        footer{
            height: 100px;
            width: 100%;
            background-color: var(--main-color-blue);
        }
        /* ---------------------------------------------------------------------------------------------*/
    /* ---------------------------------------------------------------------------------------------*/
    /* VENTANA MODAL*/
    .section-modal{
       
        position: fixed;
        top: 0;
        
        width: 100%; 
        height: 100vh;

        display: none;
        z-index: 9999;
        
        
       
       
    } 

    .art-modal{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000d7;
        overflow:hidden;
        

    }

    .modal{
        height: auto;
        width: 50%;
        background-color: var(--main-color-white);
        display: flex;
        flex-direction: column;
        border-radius: 1em;
        overflow: hidden;
    }

    .modal-header{
        background-color: var(--main-color-blue);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-right: 0.75em;

    }
    .modal-header img{
        height: 40px;
    }
    .modal-header h2{
        color: var(--main-color-white);
        text-align: center;
    
        flex-grow: 1;
    }
    .modal-header a{
        font-size: 1em;
        font-weight: bold;
        color: var(--main-color-white);
       

    }

    .modal-body{
        text-align: center;
        padding: 0.75em;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .modal-body h3{
        font-style: italic;
        color: var(--main-color-blue);
        padding: 0.55em;
        border-bottom: solid;
    }
    .modal-body img{
        height: 80px;
    }
    label{
        font-weight: bold;
        padding-top: 0.55em;
        padding-bottom: 0.55em;
    }
    .inpText{
       border: 0.5px solid ;
       border-color: var(--main-color-blue);
       border-radius: 1em;
       width: 50%;
       height: 35px;
    }

    .modal-footer{
        display: flex;
        justify-content: center;
        padding: 0.55em;
        background-color: var(--main-color-blue);
      
    }
    .modal-footer a{
        color: var(--main-color-white);
        padding: 0.44em;
        margin: 0.55em;
        border-color: var(--main-color-white);
        border-style: solid;
        border-radius: 1em;
    }

    .modal-visible{
        display: block;
    }
    
    
    
   
}

/* ---------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------------*/
/*BREAK POINT DESKTOP NORMAL 992 / 1200*/

@media screen and (min-width: 62em) and (max-width: 75em) {
    .bar-link{
        padding-top: 0;
        font-size: 0.75em;
       }

       .bar-item:hover{
        background-color: #0E4563;
    }     
       .cont-redes{
           width: 100%;
           position: fixed;
           top: 4.688em;
           
       }
       .redes{
           width: 100%;
           display: flex;
          
            
       }
       .redes-items{
            width: 100%;
            
            display: flex;
            justify-content: end;
    
           
       }
       .redes-items .img-redes{
           height: 45px;
           margin: 0.55em;
       }
       /* ---------------------------------------------------------------------------------------------*/
       /*WELCOME*/
       .section-welcome{
           width: 100%;
           
       
        }
        .article-welcome{
            width: 80%;
            height: 100vh;
            padding: auto;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
        .article-welcome img{
            height: 250px;
            margin: 2em;
        }
        .article-welcome h2{
            line-height: 2em;
        }
        .section-resena{
            width: 100%;
        }
        .article-basic_100{
            width: 100%;
            height: 50vh;
            margin: auto;
            padding: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
    
            background-image:linear-gradient(rgba(0, 174, 255, 0.726), rgba(12, 139, 243, 0.87)), url(../Assets/Img/fondo2.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        .text-p{
            color: var(--main-color-white);
            font-weight: bold;
            line-height: 2em;
            padding: 1em;
        }
    
        /* ---------------------------------------------------------------------------------------------*/
        /* ---------------------------------------------------------------------------------------------*/
        /* CARDS SKILLS*/
        .section-skills{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .article-skills{
            width: 80%;
            display: flex;
            align-items: center;
           
            
        }
        .card{
            width: 100%;
            height:auto;
    
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
    
            
            border-radius: 1em;
            
            background-color: var(--main-color-white);
            -webkit-box-shadow: 5px 5px 15px 5px #000000; 
            box-shadow: 5px 5px 15px 5px #000000;
            
            margin: 1em;
            
           
        }
        
        .card h2{
            font-weight: bold;
            color: var(--main-color-blue);
            font-style: italic;
            padding-top: 0.55em;
           
        }
        .card p{
            font-weight: bold;
         
            padding: 1em;
            
        }
        .card-footer{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .card-footer img{
            height: 50px;
            margin: 0;
            padding: 1em;
        }
    
         /* ---------------------------------------------------------------------------------------------*/
        /* ---------------------------------------------------------------------------------------------*/
        /* PROYECTOS*/
        .section-proyect{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 2em;
        }
        .section-proyect .text-card-project{
            color: var(--main-color-blue);
            
        }
        .section-proyect p{
            font-weight: bold;
            
            padding: 1em;
        }
        .article-card-project{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
       .card-project{
        position: relative;
        width: 250px;
        height: 250px;
        display: flex;
        align-items: center;
    
       
    
       }
    
       .card-project .face{
           position: absolute;
           width: 100%;
           transition: 5s;
           backface-visibility: hidden;
           
           
           
       }    
    
       .card-project .front img{
        transform: perspective(800px) rotateY(0deg);
        width: 100%;
        object-fit: contain;
        }
    
    
    
       .card-project .front{
           transform: perspective(800px) rotateY(0deg);
           box-shadow: 0 5px 10px #000000;
           
       }
       
    
    
       .card-project .back{
            transform: perspective(800px) rotateY(180deg);
            background-color: rgba(0, 0, 0, 0.692);
            color: var(--main-color-white);
            font-size: 0.55em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 200px;
    
        }
        .card-project .back a{
            color: var(--main-color-blueLigth);
        }
    
            /* ---------------------------------------------------------------------------------------------*/
            /* EFECTOS CARDS PROJECTS*/
    
            
        .card-project:hover .front{
                transform: perspective(800px) rotateY(180deg);
                box-shadow: 0 5px 10px #000000;
            }
            .card-project:hover .back{
                transform: perspective(800px) rotateY(360deg);
              
                
            }
    
       
        /* ---------------------------------------------------------------------------------------------*/
        /* ---------------------------------------------------------------------------------------------*/
        /* MIS OBECTIVOS*/    
    
        .section-obj{
            width: 100%;
            background-image:linear-gradient(rgba(0, 132, 255, 0.726), rgba(5, 101, 180, 0.87)), url(../Assets/Img/logoBlack.svg);
            background-size: 100% 100%;
            background-color: #075ba5bb;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .article-obj{
            width: 80%;
            text-align: center;
            color: var(--main-color-white);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1em;
            
        }
        .article-obj p{
           
            font-weight: bold;
            line-height: 2em;
        }
    
         /* ---------------------------------------------------------------------------------------------*/
        /* ---------------------------------------------------------------------------------------------*/
        /* MIS OBECTIVOS*/ 
        .section-otros{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1em;
        } 
    
        .article-otro{
            width: 100%;
            text-align: center;
            padding: 1em;
            
        }
        .article-otro h2{
            color: var(--main-color-blue);
            padding: 1em;
        }
        .article-otro p{
            font-weight: bold;
           
        }
        .article-otro h3{
            text-align: center;
           
            padding: 2em;
        }
        .article-otro a{
            background-color: var(--main-color-blue);
            color: var(--main-color-white);
            font-size: 2em;
            font-weight: bold;
            padding: 0.15em;
            border-radius: 1em;
        }
    
          /* ---------------------------------------------------------------------------------------------*/
        /* ---------------------------------------------------------------------------------------------*/
        /* MIS OBECTIVOS*/ 
        footer{
            height: 100px;
            width: 100%;
            background-color: var(--main-color-blue);
        }

        /* ---------------------------------------------------------------------------------------------*/
    /* ---------------------------------------------------------------------------------------------*/
    /* VENTANA MODAL*/
    .section-modal{
       
        position: fixed;
        top: 0;
        
        width: 100%; 
        height: 100vh;

        display: none;
        z-index: 9999;
        
        
       
       
    } 

    .art-modal{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000d7;
        overflow:hidden;
        

    }

    .modal{
        height: auto;
        width: 50%;
        background-color: var(--main-color-white);
        display: flex;
        flex-direction: column;
        border-radius: 1em;
        overflow: hidden;
    }

    .modal-header{
        background-color: var(--main-color-blue);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-right: 0.75em;
    }
    .modal-header img{
        height: 40px;
    }
    .modal-header h2{
        color: var(--main-color-white);
        text-align: center;
        font-size: 00.75em;
        flex-grow: 1;
    }
    .modal-header a{
        font-size: 1em;
        font-weight: bold;
        color: var(--main-color-white);

    }

    .modal-body{
        text-align: center;
        padding: 0.75em;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .modal-body h3{
        font-style: italic;
        color: var(--main-color-blue);
        padding: 0.55em;
        border-bottom: solid;
    }
    .modal-body img{
        height: 80px;
    }
    label{
        font-weight: bold;
        padding-top: 0.55em;
        padding-bottom: 0.55em;
    }
    .inpText{
       border: 0.5px solid ;
       border-color: var(--main-color-blue);
       border-radius: 1em;
       width: 50%;
       height: 35px;
    }

    .modal-footer{
        display: flex;
        justify-content: center;
        padding: 0.55em;
        background-color: var(--main-color-blue);
      
    }
    .modal-footer a{
        color: var(--main-color-white);
        padding: 0.44em;
        margin: 0.55em;
        border-color: var(--main-color-white);
        border-style: solid;
        border-radius: 1em;
    }

    .modal-visible{
        display: block;
    }
    
    
    
 
    
}
/* ---------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------------*/
/*BREAK POINT DESKTOP MINI 768 / 992* */
@media screen and (min-width: 48em) and (max-width: 62em) {
   .bar-link{
    padding-top: 0;
    font-size: 0.75em;
   }
   .bar-item:hover{
    background-color: #0E4563;
}  
   .cont-redes{
       width: 100%;
       position: fixed;
       top: 4.688em;
       
   }
   .redes{
       width: 100%;
       display: flex;
      
        
   }
   .redes-items{
        width: 100%;
        
        display: flex;
        justify-content: end;

       
   }
   .redes-items .img-redes{
       height: 45px;
       margin: 0.55em;
   }
   /* ---------------------------------------------------------------------------------------------*/
   /*WELCOME*/
   .section-welcome{
       width: 100%;
       
   
    }
    .article-welcome{
        width: 80%;
        height: 100vh;
        padding: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .article-welcome img{
        height: 250px;
        margin: 2em;
    }
    .article-welcome h2{
        line-height: 2em;
    }
    .section-resena{
        width: 100%;
    }
    .article-basic_100{
        width: 100%;
        height: 50vh;
        margin: auto;
        padding: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        background-image:linear-gradient(rgba(0, 174, 255, 0.726), rgba(12, 139, 243, 0.87)), url(../Assets/Img/fondo2.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .text-p{
        color: var(--main-color-white);
        font-weight: bold;
        line-height: 2em;
        padding: 1em;
    }

    /* ---------------------------------------------------------------------------------------------*/
    /* ---------------------------------------------------------------------------------------------*/
    /* CARDS SKILLS*/
    .section-skills{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .article-skills{
        width: 80%;
        display: flex;
        align-items: center;
       
        
    }
    .card{
        width: 100%;
        height:auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        
        border-radius: 1em;
        
        background-color: var(--main-color-white);
        -webkit-box-shadow: 5px 5px 15px 5px #000000; 
        box-shadow: 5px 5px 15px 5px #000000;
        
        margin: 1em;
        
       
    }
    
    .card h2{
        font-weight: bold;
        color: var(--main-color-blue);
        font-style: italic;
        padding-top: 0.55em;
       
    }
    .card p{
        font-weight: bold;
     
        padding: 1em;
        
    }
    .card-footer{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .card-footer img{
        height: 50px;
        margin: 0;
        padding: 1em;
    }

     /* ---------------------------------------------------------------------------------------------*/
    /* ---------------------------------------------------------------------------------------------*/
    /* PROYECTOS*/
    .section-proyect{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2em;
    }
    .section-proyect .text-card-project{
        color: var(--main-color-blue);
        
    }
    .section-proyect p{
        font-weight: bold;
        
        padding: 1em;
    }
    .article-card-project{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
   .card-project{
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;

   

   }

   .card-project .face{
       position: absolute;
       width: 100%;
       transition: 5s;
       backface-visibility: hidden;
       
       
       
   }    

   .card-project .front img{
    transform: perspective(800px) rotateY(0deg);
    width: 100%;
    object-fit: contain;
    }



   .card-project .front{
       transform: perspective(800px) rotateY(0deg);
       box-shadow: 0 5px 10px #000000;
       
   }
   


   .card-project .back{
        transform: perspective(800px) rotateY(180deg);
        background-color: rgba(0, 0, 0, 0.692);
        color: var(--main-color-white);
        font-size: 0.55em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;

    }
    .card-project .back a{
        color: var(--main-color-blueLigth);
    }

        /* ---------------------------------------------------------------------------------------------*/
        /* EFECTOS CARDS PROJECTS*/

        
    .card-project:hover .front{
            transform: perspective(800px) rotateY(180deg);
            box-shadow: 0 5px 10px #000000;
        }
        .card-project:hover .back{
            transform: perspective(800px) rotateY(360deg);
          
            
        }

   
    /* ---------------------------------------------------------------------------------------------*/
    /* ---------------------------------------------------------------------------------------------*/
    /* MIS OBECTIVOS*/    

    .section-obj{
        width: 100%;
        background-image:linear-gradient(rgba(0, 132, 255, 0.726), rgba(5, 101, 180, 0.87)), url(../Assets/Img/logoBlack.svg);
        background-size: 100% 100%;
        background-color: #075ba5bb;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .article-obj{
        width: 80%;
        text-align: center;
        color: var(--main-color-white);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        
    }
    .article-obj p{
       
        font-weight: bold;
        line-height: 2em;
    }

     /* ---------------------------------------------------------------------------------------------*/
    /* ---------------------------------------------------------------------------------------------*/
    /* MIS OBECTIVOS*/ 
    .section-otros{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
    } 

    .article-otro{
        width: 100%;
        text-align: center;
        padding: 1em;
        
    }
    .article-otro h2{
        color: var(--main-color-blue);
        padding: 1em;
    }
    .article-otro p{
        font-weight: bold;
       
    }
    .article-otro h3{
        text-align: center;
       
        padding: 2em;
    }
    .article-otro a{
        background-color: var(--main-color-blue);
        color: var(--main-color-white);
        font-size: 2em;
        font-weight: bold;
        padding: 0.15em;
        border-radius: 1em;
    }

      /* ---------------------------------------------------------------------------------------------*/
    /* ---------------------------------------------------------------------------------------------*/
    /* MIS OBECTIVOS*/ 
    footer{
        height: 100px;
        width: 100%;
        background-color: var(--main-color-blue);
    }

    /* ---------------------------------------------------------------------------------------------*/
    /* ---------------------------------------------------------------------------------------------*/
    /* VENTANA MODAL*/
    .section-modal{
       
        position: fixed;
        top: 0;
        
        width: 100%; 
        height: 100vh;

        display: none;
        z-index: 9999;
        
        
       
       
    } 

    .art-modal{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000d7;
        overflow:hidden;
        

    }

    .modal{
        height: auto;
        width: 80%;
        background-color: var(--main-color-white);
        display: flex;
        flex-direction: column;
        border-radius: 1em;
        overflow: hidden;
    }

    .modal-header{
        background-color: var(--main-color-blue);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-right: 0.75em;
    }
    .modal-header img{
        height: 40px;
    }
    .modal-header h2{
        color: var(--main-color-white);
        text-align: center;
        font-size: 00.75em;
        flex-grow: 1;
    }
    .modal-header a{
        font-size: 1em;
        font-weight: bold;
        color: var(--main-color-white);

    }

    .modal-body{
        text-align: center;
        padding: 0.75em;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .modal-body h3{
        font-style: italic;
        color: var(--main-color-blue);
        padding: 0.55em;
        border-bottom: solid;
    }
    .modal-body img{
        height: 80px;
    }
    label{
        font-weight: bold;
        padding-top: 0.55em;
        padding-bottom: 0.55em;
    }
    .inpText{
       border: 0.5px solid ;
       border-color: var(--main-color-blue);
       border-radius: 1em;
       width: 50%;
       height: 35px;
    }

    .modal-footer{
        display: flex;
        justify-content: center;
        padding: 0.55em;
        background-color: var(--main-color-blue);
      
    }
    .modal-footer a{
        color: var(--main-color-white);
        padding: 0.44em;
        margin: 0.55em;
        border-color: var(--main-color-white);
        border-style: solid;
        border-radius: 1em;
    }

    .modal-visible{
        display: block;
    }


} 

