/* RESETEAMOS TODOS LOS VALORES PREDETERMINADOS DEL HTML5*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}
/*FONDO PREDETERMIANDO*/
body{
    background-image: url("../Assets/Img/fondo-web.png");
  
}
/*COLORES PREDETERMINADOS QUE VAMOS A USAS*/
:root{
    --main-color-blueLigth: #3FA9F5;
    --main-color-blue: #0071BC;
    --main-color-blueDark:#0E4563;
    --main-color-white:#ffffff;
}
/*TEXTOS PREDETERMINADOS*/
.text-h3{
    color: var(--main-color-white);
    font-weight: bold;
    font-style: italic;
}
.bar-link{
    color: var(--main-color-white);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
i{
    margin-right: 1em;
}
/* ---------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------------*/
/*BARRA DE NAVEGACION*/

.cont-bar{
    background-color: var(--main-color-blue);
    width: 100%;
    height: 4.688em;
    display: flex;  
    align-items: stretch;
    line-height: 4.688em;
    position: fixed;

    z-index: 1000;
  
}
.text-bar{
  width: 50%;  
  font-size: 1.625em;
}
.bar-logo{
    height: 3.125em;
    width: 15%;
    position: relative;
    top: 15px;  
    
}
.bar{
    width: 100%;
    display: flex;
    justify-content: end;
    line-height: 4.688em;
}
.bar-items{
    display: flex;
    
}
.bar-item{
   border-left: solid 4px;
   border-color: var(--main-color-white);
}
.bar-link{
    padding: 1em;
}


.bar-movil-logo{
    display: none;
}

.bar-btn{
    border: none;
    background: none;
    font-size: 2em;
    color: var(--main-color-white);
    display: none;
}
/* ---------------------------------------------------------------------------------------------*/
/*REDES SOCIALES*/
.cont-redes{
   position: fixed;
   width: 100%;
   top: 0;
   bottom: 0;
   display: flex;
   flex-direction: column;
   justify-content: end; 
   align-items: center;

}
.redes{
    display: flex;
}
.redes-items{
    display: flex;
}
.img-redes{
    height: 50px;
    padding: 0.55em;
}

 /* ---------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------------*/
/* WELCOME SECTION*/
    .section-basic{
        position: relative;
        top: 4.688em;
        width: 100%;
       
    }  
    .article-basic{
        width: 80%;
        height: 100vh;
        margin: auto;
        padding: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        background-image: url(../Assets/Img/LogoSinLetrasWhite.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    } 
    .text-h1{
        font-style: italic;
    }
    .text-h2{
        line-height: 2em;
    }

    .b-blue{
        background-color: var(--main-color-blueLigth);
        padding: 0.25em;
        color: var(--main-color-white);
        font-style: italic;
    }
    
    .article-basic img{
        height: 250px;
        margin: 2em;
    }

     /* ---------------------------------------------------------------------------------------------*/
    /* ---------------------------------------------------------------------------------------------*/
    /* RESEÑA */
    .article-basic_100{
        width: 100%;
        height: 50vh;
        margin: auto;
        padding: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        background-image:linear-gradient(rgba(0, 174, 255, 0.726), rgba(12, 139, 243, 0.87)), url(../Assets/Img/fondo2.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .text-p{
        color: var(--main-color-white);
        font-weight: bold;
        line-height: 2em;
    }

     /* ---------------------------------------------------------------------------------------------*/
    /* ---------------------------------------------------------------------------------------------*/
    /* CARDS SKILLS*/
    .article-flex{
        flex-direction: row;
        align-items: center;
    }
    .card{
     
        width: 50%;
        height:auto;
        border-radius: 1em;
        background-color: var(--main-color-white);
        -webkit-box-shadow: 5px 5px 15px 5px #000000; 
        box-shadow: 5px 5px 15px 5px #000000;
        margin: 2em;
        padding: 1em;
       
    }
    
    .card h2{
        font-weight: bold;
        color: var(--main-color-blue);
        font-style: italic;
       
    }
    .card p{
        font-weight: bold;
        font-size: 0.75em;
        padding: 1em;
        
    }
    .card-footer{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .card-footer img{
        height: 50px;
        margin: 0;
        padding: 1em;
    }





/* ---------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------------*/
/*BREAK POINT FULL HD 1200 / 1400*/
@media screen and (min-width: 75em) and (max-width: 87.5em) {
    /*BARRA DE NAVEGACION*/

    .cont-bar{
        background-color: var(--main-color-blue);
        width: 100%;
        height: 4.688em;
        display: flex;  
        align-items: stretch;
        line-height: 4.688em;
        z-index: 1000;
        position: fixed;
    
    }
    .text-bar{
    width: 50%;  
    font-size: 1.625em;
    }
    .cont-bar img{
        height: 3.125em;
        width: 15%;
        position: relative;
        top: 15px;  
        
    }
    .bar{
        width: 100%;
        display: flex;
        justify-content: end;
        line-height: 4.688em;
    }
    .bar-items{
        display: flex;
        
    }
    .bar-item{
    border-left: solid 4px;
    border-color: var(--main-color-white);
    }
    .bar-link{
        padding: 1em;
    }

    /* ---------------------------------------------------------------------------------------------*/
    /*REDES SOCIALES*/
    .cont-redes{
        position: fixed;
        width: 100%;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: end; 
        align-items: center;
    }
    .redes{
        display: flex;
    }
    .redes-items{
        display: flex;
    }
    .img-redes{
        height: 50px;
        padding: 0.55em;
    }
 
   
}

/* ---------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------------*/
/*BREAK POINT DESKTOP NORMAL 992 / 1200*/

@media screen and (min-width: 62em) and (max-width: 75em) {
    .bar-link{
        font-size: 0.75em;
    }

     /* ---------------------------------------------------------------------------------------------*/
    /*REDES SOCIALES*/
    .cont-redes{
        position: fixed;
        width: 100%;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: end; 
        align-items: center;
    }
    .redes{
        display: flex;
    }
    .redes-items{
        display: flex;
    }
    .img-redes{
        height: 50px;
        padding: 0.55em;
    }
 
    
}
/* ---------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------------*/
/*BREAK POINT DESKTOP MINI 768 / 992* */
@media screen and (min-width: 48em) and (max-width: 62em) {
    
   .bar-link{
       font-size: 0.75em;
   }
} 

