

/* ---------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------------*/
/*BREAK POINT TABLET 576 / 768* */
@media screen and (min-width: 36em) and (max-width: 48em) {
    
    .cont-bar{
        justify-content:space-between;
    }
    .text-bar{
        text-align: center;
    }
    .bar{
        position: absolute;
        top: 4.688em;
        background-color:var(--main-color-white);
        background-image: url(../Assets/Img/fondo-web.png);
        left: 100%;
        transition: left 2s;
    }
    .bar-items{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        
        overflow-y: scroll;
    }
    .bar-movil-logo{
        display: block;
        height: 9.375em;
        margin: 1em;
    }
    .bar-link{
        
        color: var(--main-color-blue);
        
        border-radius: 1em;
        border-style: dashed;
        border-color: var(--main-color-blue);
    }
   .bar-btn{
       display: block;
   }
        /* ---------------------------------------------------------------------------------------------*/
        /* ---------------------------------------------------------------------------------------------*/
        /* EFECTO DE MOVIMIENTO MENU LATERAL */
        .bar-items_visible{
            left: 0%;
        }

} 

/* ---------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------------*/
/*BREAK POINT TABLET 576 / 768* */
@media screen and (min-width: 0em) and (max-width: 36em) {
    .cont-bar{
        justify-content: space-between;
    }
    .text-bar{
        text-align: center;
    }
    .bar{
        position: absolute;
        top: 4.688em;
        background-color:var(--main-color-white);
        background-image: url(../Assets/Img/fondo-web.png);
        left: 100%;
        transition: left 2s;
    }
    .bar-items{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        
        overflow-y: scroll;
    }
    .bar-movil-logo{
        display: block;
        height: 9.375em;
        margin: 1em;
    }
    .bar-link{
        
        color: var(--main-color-blue);
        
        border-radius: 1em;
        border-style: dashed;
        border-color: var(--main-color-blue);
    }
   .bar-btn{
       display: block;
   }
        /* ---------------------------------------------------------------------------------------------*/
        /* ---------------------------------------------------------------------------------------------*/
        /* EFECTO DE MOVIMIENTO MENU LATERAL */
        .bar-items_visible{
            left: 0%;
        }
    
} 




